<h1>The word is: <b><%= @word.word %></b></h1>

<p>This is where to can manage your word! If you need to edit or delete it, click "Edit Word". To add a new definition, type your definition the form below and submit! Feel free to add as many definitions as you would like! They will all be kept in a list here.</p>

<p><a href="/words/<%= @word.id %>/edit">Edit Word</a></p>

<a href="/words">Return to word list</a> 

<h4>Definitions for <%= @word.word %></h4>

<% if @word.definitions.any? %>
  <ol>
    <% @word.definitions.each do |definition| %>
      <li><%= "#{@word.word}: #{definition.definition}" %><br><a href="/words/<%= @word.id %>/definitions/<%= definition.id %>">Edit Definition</a></li>
    <% end %>
  </ol>
<% else %>
  <p>There are no definitions for this word yet! Add a new one below.</p>
<% end %>

<h4>Add a definition</h4>

<form action="/words/<%= @word.id %>/definitions" method="post">
  <div class="form-group">
    <label for="definition">Enter new definition here:</label>
    <input id="definition" name="definition" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add Definition</button>
</form>





